


.ec-base-product .prdList .thumbnail a img{
    transition:all 2s;
    opacity: 1;
}

.ec-base-product .prdList .thumbnail:hover>a img{
    border-radius:300px;
    transition:all 2s;
     opacity: 0.5;
}

 #anchorBoxId_44 .thumbnail .sale_box{
    background-color:rgb(244, 126, 36);
    color: #fff;
    z-index:5000;
}
