/* 메인상품목록  border-radius */
/* 베스트메뉴 신상품 */
[data-ez="contents-1joqdg5-1"] .thumbnail a img,
[data-ez="contents-0airvrw-1"] .thumbnail a img{
    transition: all 2s;
    opacity: 1;
}
[data-ez="contents-1joqdg5-1"] .thumbnail:hover a img,
[data-ez="contents-0airvrw-1"] .thumbnail:hover a img {
    border-radius: 300px;
    transition: all 2s;
    opacity: 0.5;

}
/* 메인상품목록  border-radius 끝 */

/* 할인률 색상변경 */

.theme03 .ec-base-product .prdList .thumbnail .sale_box{
   background-color:rgb(246, 128, 49);
   color: #fff;
}
.main_top_banner .top_banner_box_inner .top_banner_close{
    color:#fff
}
.main_top_banner .top_banner_box_inner .top_banner_close .icoClose{
    color: #fff;
}

/* 할인률 색상변경 끝 */
.main_top_banner.ez-align-left{
    background: url(https://nanvitamin0.cafe24.com/web/myfolder/main/%EB%9D%A0%EB%B0%B0%EB%84%88.png) no-repeat;
    width: 100%;
    height: 100px;   
}
.theme03 .main_top_banner{
    background: url(https://nanvitamin0.cafe24.com/web/myfolder/main/%EB%9D%A0%EB%B0%B0%EB%84%88.png) no-repeat;
    width: 100%;
    height: 100px;
}

#header .inner .top_nav_box .top_category > ul > li > a{
    color: #fff;
    font-weight: bold;
}
.theme03 #header.fixed .inner .top_nav_box .top_category > ul > li > a:after{
   background-color: rgb(102, 255, 242);
}