@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
/* font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Gothic', sans-serif;*/

/*reset*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  a,
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li,
  dl,
  dt,
  dd,
  table,
  th,
  td,
  form,
  fieldset,
  legend,
  input,
  textarea,
  button,
  select {
    margin: 0;
    padding: 0;
  }
  
  textarea {
    resize: none;
  }
  
  body,
  input,
  textarea,
  select,
  button {
    font-family: 'Nanum Gothic', "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
    font-size: 14px;
  }
  
  fieldset,
  img {
    border: 0;
  }
  
  img {
    vertical-align: top;
  }
  
  li,
  ol,
  ul {
    list-style: none;
  }
  
  address,
  em,
  i {
    font-style: normal;
  }
  
  a {
    text-decoration: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  th,
  b,
  em {
    font-weight: normal;
  }
/* 사용자 지정 속성 
변수선언 
선택자{
  --변수명:값;
}
선택자의 후손들은 다 상속 받아서 사용가능

사용
선택자{
  height:var(--변수명)
}
*/


:root{
  --header-height:80px;
  --primary-color:#1ec545;
  --primary-color-dark:#0fb93c;
  --padding-h-pc:150px;
  --padding-h-m:50px;
  }




  /* 공통 */
  .blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }
  body,
html {
  height: 100%;
  font-style: normal;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}

.flex-container{
    display: flex;
}

.flex-direction-column{
    flex-direction: column;
}

.text_line,
.text_line-rt,
.text_line-rm{
  display: block;
}



.text_block-rt,
.text_block-rm{
   display: inline;
}



@media (max-width:768px){
  .text_line-rt{display: inline !important;}
  .text_block-rt{display: block !important;}
  
  }
@media (max-width:576px){
.text_line-rm{display: inline !important;}
.text_block-rm{display: block !important;}
}

.test{
    background-color: #00f;
    min-height: 100px;
}


/* header */
header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(255,255,255,0.8); /*알파값 수정*/
    height: var(--header-height);
    z-index: 100; /*보여지는 우선순위를 주기위해*/
}
/* 햄버거메뉴를 클릭하면 header에 .active추가  */
header.active{
  background-color: var(--primary-color);

}

.header_wrap{
    max-width: 1440px;
    height: 100%; /*10.5 추가*/
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
   
}
@media (max-width:1400px){
  .header_wrap{
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width:992px){
  .header_wrap{
    padding-left: 50px;
    padding-right: 50px;
  }
}
 


.header_wrap .header_logo a{
  display: block;
  width: 90px; height: 20px;
  background: url(../image/header_logo.png) no-repeat 50% 50%;
}
header.active .header_wrap .header_logo a{
  background-image: url(/st18/naver/asset/image/header_logo_v2.png);
}

.header_wrap nav{
  height: var(--header-height);
  
}

/*.header_wrap nav 미디어 쿼리  */
@media (max-width:1200px){
  .header_wrap nav{
    display: none !important;
  }

}
header.active .header_wrap nav{
  display: none;
}

nav .gnb_menu{
  font-size: 0; /*li로 인한 여백을 없애기 위해*/
}
nav .gnb_menu .gnb_menu_list,
nav .gnb_menu .gnb_menu_list_recruit
{
  /* li가 수평으로 나란히 */
  display: inline-block;
  
}
nav .gnb_menu a.gnb_menu_item{
  position: relative; /*nav .gnb_menu .gnb_menu_list:hover a.gnb_menu_item::before 기준조상*/
  display: block;
  font-size: 15px;
  line-height: var(--header-height); /*한줄문자 일때는 line-height*/
  margin: 0 30px; 
  color: #000; 
  font-weight: bold;
}


/* 메뉴에 마우스오버하면 메뉴밑에 바 그리기 */
/* 선택자  
 마우스오버 요소 > 속성을 지정하는 요소 */
nav .gnb_menu .gnb_menu_list a.gnb_menu_item::before{
  content: '';
  position: absolute;
  left: 0; bottom: 1em;
  display: block;
  width: 100%; height: 2px;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.2s;
  transform-origin:100% 0;/*오른쪽으로 사라지게함*/
  

}
nav .gnb_menu .gnb_menu_list:hover a.gnb_menu_item::before{
  transform: scaleX(1);
  transition: transform 0.2s;
  transform-origin: 0 0;/*왼쪽에서 나타나게 함*/

}
/* 
li마우스오버시 ul.gnb_dropMenu_wrap
display:none;과 
display:flex;로 화면표시 제어
*/

nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap{
  /* depth2 d1 마우스오버(마우스엔터)할때 드롭다는 되는 메뉴 */
  
  position: absolute;
   width: 100%;
   left: 0;
   background-color: var(--primary-color);
  /* gnb_dropMenu_wrap>li가 수평으로 오게 선언 */
   display: none; /*테스트 후 flex로 처리*/
   /* display: flex; */
   flex-direction: row;
   justify-content:center;
   align-items: stretch;  
   
  /* depth2
  d1 마우스 호버할 때 드롭다운 되는 메뉴 */
}
/* 1번 메뉴를 위한 테스트 선택자 */
/* .gnb_menu_list:nth-child(5) 1~7번으로 확인하면서 체크 */
nav .gnb_menu .gnb_menu_list:nth-child(1) ul.gnb_dropMenu_wrap{
  
  /* display: flex;
  justify-content:center;
   */
}

nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap>li{
  position: relative; /*nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap>li::beforer 기준*/
  font-size: 14px;
  width: 190px; 
  height: 367px;
  padding: 28px 0 0;
  
}
/* 세로줄 시작 */
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap>li:last-child::after
{
  content: '';
  display: block;
  position: absolute;
  right: 0; top: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255,255,255,0.2);
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap>li::before
{
  content: '';
  display: block;
  position: absolute;
  left: 0; top: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255,255,255,0.2);
}
/* 세로줄 끝 */

nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap> li:hover{
   background-color: var(--primary-color-dark);

}
  

nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap li .gnb_dropMenu{
  /* padding-left: 2em; */
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap li .gnb_dropMenu .depth_blank{
  margin-bottom: 14px;
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap li .gnb_dropMenu>li{
  margin-bottom: 7px;
  padding-left: 20px;
}

nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .gnb_dropMenu_item{
  color: #fff;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .gnb_dropMenu_item strong span{
  opacity: 1;
  font-weight: bold;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .gnb_dropMenu_item span{
  opacity: 0.8;
}

 
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .classify{
  margin-bottom: 20px;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 20px;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .classify:first-child{
  padding-top: 0;
  border-top: 0 none;
}

.header_util{
  /* .header_util .header_lang
  .header_util .sitemap_box 를 flex item를 만들기 위해 */
  display: flex;
}
.header_util .header_lang{
  margin-right: 2em;
}

.header_util .header_lang a{
  color: #000;
  font-size: 12px;
  padding: 0 0.5em;
  position: relative;
  opacity: 1;
}

header.active .header_util .header_lang a{
  color: #fff;
}

.header_util .header_lang a:first-child:after{
  content: '';
  position: absolute;
  right: -3px; top: 0;
  display: block;
  width: 1px;
  height: 100%;
  background-color: #000;
}

header.active .header_util .header_lang a:first-child:after{
  background-color: #fff;
}


.header_util .header_lang a[aria-selected="false"]{
  opacity: 0.7;
}


.header_util .sitemap_box{
  position: relative; /*.header_util .header_lang의 기준*/
  width: 24px;
  height: 24px;
  
}

.header_util .sitemap_box .btn_sitemap{
  width: 100%; 
  height: 100%;
  background-color: transparent;
  border: 0px none;
  cursor: pointer; /*마우스포인터를 손가락모양*/

}
.header_util .sitemap_box .btn_line{
  position: absolute;
  right: 0; 
  display: block;
  width: 24px; height: 2px;
  background-color: #000;
  transition: all 0.2s;
}
.header_util .sitemap_box:hover .btn_line{
  background-color: var(--primary-color);
}

.header_util .sitemap_box .btn_line:nth-of-type(2){
  top: 2px;
  
}
.header_util .sitemap_box .btn_line:nth-of-type(3){
  top: 10px;
  
}
.header_util .sitemap_box .btn_line:nth-of-type(4){
  top: 18px;
}
/* 사용자가 햄버거 메뉴를 클릭한 상태 
header.active*/
header.active .header_util .sitemap_box .btn_line{
  background-color: #fff;
  transition: all 0.2s;
}

header.active .header_util .sitemap_box .btn_line:nth-of-type(2){
    transform: rotate(-45deg) translate(-8px, 8px) ;
}
header.active .header_util .sitemap_box .btn_line:nth-of-type(3){
 opacity: 0;
 }
header.active .header_util .sitemap_box .btn_line:nth-of-type(4){
   transform: rotate(45deg) translate(-3px, -4px) ;
}

header .sitemap{
  display: none;
  position: fixed;
  left: 0; top: var(--header-height);
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-color: var(--primary-color);
}
header.active .sitemap{
  display: block;
}

/* .container */
.container{
  padding: 80px 0 160px;
  /* background-color: #ccc; 테스트용 */
}


.main_slide{
  height: 750px;
}

@media (max-width:768px){
  .main_slide{
    height: calc(100vh - var(--header-height)); /*.main_slide 높이를 강제로 지정*/
  }
}

/* swiper 수정 */
.main_slide .swiper-button-next,
.main_slide .swiper-button-prev{
  width: 50px; height: 55px;
  background: url(../image/sprite.png) no-repeat;
  top: auto; bottom: 220px;
  }
  @media (max-width:768px){
    .main_slide .swiper-button-next,
    .main_slide .swiper-button-prev{
      display: none;
    }
  }

.main_slide .swiper-button-prev{
  background-position: -294px -96px;
  left: calc(150px - 50px - 10px);

      
}

.main_slide .swiper-button-next{
  background-position: -345px -96px;
  right: calc(150px - 50px - 10px);
}

.main_slide .swiper-button-next::after,
.main_slide .swiper-button-prev::after{
  content: '';
}

/* swipwer slide  */
.main_slide .swiper-slide{}
.main_slide .swiper-slide picture{  /*미디어쿼리하면서 추가*/
  display: block;
  width: 100%; height: 100%;
}
.main_slide .swiper-slide picture>img{/*미디어쿼리하면서 선택자 수정*/
  display: block;
  width: 100%; height: 100%;
  object-fit: cover;
  object-position: center; /*추가 이미지가 가운데를 중심으로 표시*/
}

.main_slide .swiper-scrollbar{
  top: auto; bottom: calc(220px + 27px);
  height: 2px;
  left: 150px; right: 150px;
  width: calc(100% - 320px);
  background-color: rgba(255,255,255,0.3);
  overflow: hidden;
}

.main_slide .swiper-scrollbar-drag{
  background-color: #fff;
  /* position: relative; 기본 swiper css에 지정되어 있어요 */
}
/* 추가 */
.main_slide .swiper-scrollbar-drag::before{
   content: '';
   display: block;
   position: absolute;
   top: 0; 
   left:-100vw; /*시작위치를 왼쪽 브라우저크기만큼 보내버렸어요*/
   width: 100vw; /*브라우저 크기만큼*/
   height: 100%;
   background-color: #fff;
}

/* slide info 글상자*/
.main_slide .swiper-slide .slide-info{
  position: absolute;
  left: 0; top:0;
  width: 100%; height: 100%;
 
}

.main_slide .slide-info a.slide_info_box{
  display: block;
  width: 100%; height: 100%;
  color: #fff;
  
}
.main_slide .slide-info .slide_logo{
  position: absolute;
  right: 150px;
  bottom: 50px;
  background-repeat: no-repeat;
}
.main_slide .slide-info .slide_logo.teamnaver{
  width: 188px; height: 40px;
  background-image: url(../image/teamnaver_logo.gif);
  background-size: 188px 40px;
}
.main_slide .slide-info .slide_logo.naver{
  width:156px; height: 40px;
  background-image: url(../image/sprite.png);
  background-position:-192px -1057px ;
}


.main_slide .slide-info .slide_text_box{
  position: absolute;
  left: 0; bottom: 150px;
  padding: 0 var(--padding-h-pc);
}
.main_slide .slide-info .slide_text_box .slide_title strong{
  margin-bottom:  2em;
  font-size: 40px;
  font-weight: bold;
  display: block;
  text-shadow: 
  1px 1px 2px rgba(255,0,0,0.8),
  3px 3px 2px rgba(0,255,0,0.8),
  5px 5px 2px rgba(0,0,255,0.8),
  7px 7px 2px rgba(255,0,0,0.8);

}
.main_slide .slide-info .slide_text_box .slide_text{
  font-style: 15px;
  line-height: 1.6;
}

@media (max-width:768px){
  .main_slide .slide-info .slide_text_box{
    padding: 0 var(--padding-h-m) 0px;
  }
  .main_slide .slide-info .slide_text_box .slide_title strong{
    font-size: 2em;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    
  }
  .main_slide .slide-info .slide_text_box .slide_text{
    display: none;
  }

}

/* pagination 내가 위치지정한 것 */
/* .main_slide .swiper-pagination{
  position: absolute;
  left: calc(-50% + 170px); bottom: 110px;
  
 
} */
.main_slide .swiper-pagination-fraction{
  color: #fff;
  font-size: 0;
  

}
.main_slide .swiper-pagination-fraction .swiper-pagination-current{
  font-size: 12px;
  padding-right: 0.5em;
}
.main_slide .swiper-pagination-fraction .swiper-pagination-current::after{
  content: '/';
  padding-left: 0.5em;
}
.main_slide .swiper-pagination-fraction .swiper-pagination-total{
  font-size: 12px;
  overflow: 0.7;
}
@media (max-width:768px){
  .main_slide .swiper-scrollbar{
    bottom: calc(150px + 20px);
     left: calc(50px + 50px); right: 50px;
     width: calc(100% - 50px - 50px - 50px);
  }
  .main_slide .swiper-pagination-fraction{
    top:auto;
    bottom: calc(150px + 14px);
    left: 50px; 
    width: auto;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
  }
}

/* main_content */
.main_content{
  padding: 120px var(--padding-h-pc);
}

@media (max-width:1200px){
  .main_content{
    padding: 120px var(--padding-h-m);
  }

}



.main_content ul.content_summary{
         display: flex;
         flex-wrap: wrap; /*추가 미디어쿼리를 위해서 992px이하에서 */
         /* flex-direction: row;
         justify-content: flex-start;
         align-items: stretch; */


}
.content_summary li.summary_container{
  position: relative; /*.content_summary li.summary_container::after의 기준*/
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 25%;
  /* border: 1px solid #000; */
  padding: 0 50px;
}
.content_summary li.summary_container:first-child{
  padding-left: 0;
  width: calc(25% + 50px);
}
.content_summary li.summary_container:last-child{
   width: calc(25% - 50px);

}



.content_summary li.summary_container::after{
  content: '';
  display: block;
  position: absolute;
  width: 2px; height: 100%;
  background: #efefef;
  right: 0; top: 0;
}

@media (max-width:992px){
/* 2단 */
.main_content{
  padding-top: 150px;
}
.content_summary li.summary_container{
  width: 50%;
  margin-bottom: 50px;
    }
    .content_summary li.summary_container:first-child{
     width: 50%;
    }
    .content_summary li.summary_container:last-child{
     width: 50%;
    
    }
    .content_summary li.summary_container:nth-of-type(2):after{
      display: none;
    }
    .content_summary li.summary_container:nth-of-type(3){
      padding-left: 0px;
    }
   
}
@media (max-width:768px){
/* 1단 */
.content_summary li.summary_container{
  
  width: 100%;
  padding: 0;
}
.content_summary li.summary_container::after{
  display: none;
}
  .content_summary li.summary_container:first-child{
    width:100%;
   }
   .content_summary li.summary_container:last-child{
    width:100%;
   }
}

.content_summary li.summary_container:last-child:after{
  display: none;
}
.content_summary .summary_title{
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;/*영문과 상관없이 대문자로 표시*/
  margin: 30px;
}
.content_summary .dece_box{}
.content_summary a.summary_link{
  position: absolute;
  bottom: 0;
  padding-right: 40px;
  color: #000;
  font-weight: bold;
}
.content_summary a.summary_link span.icon_arrow{
  position: absolute;
  right: 0; top: 0;
  width: 18px; height: 18px;
  border-radius: 50%;
  /* background-color: #f00; */
}

.content_summary a.summary_link span.icon_arrow::after{
  content: '';
  display: block;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%); /*정 가운데 정렬할때*/
  width: 5px; height: 8px;
  background: url(../image/sprite.png) no-repeat;
  background-position: -102px -50px;
}
.content_summary a.summary_link:hover{
  text-decoration: underline;
}
.content_summary a.summary_link:hover span.icon_arrow{
  background-color: var(--primary-color);
}
.content_summary a.summary_link:hover span.icon_arrow::after{
  background-position: -108px -49px;
}

.content_summary .desc_box{
  margin-bottom:40px;
}

.content_summary .news_box .news_title{
  color: #000;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1em; 
  white-space:nowrap;
  display: block; /*마진여백을 주기위해서 선언*/
  overflow : hidden;
  text-overflow: ellipsis; /*한 줄 말줄임*/
}
.content_summary .news_box .news_text{
  color: #999;
  font-size: 15px;
  /* 여러줄 말줄임 */
  display:-webkit-box;
  -webkit-box-orient:vertical;
  overflow:hidden;
  -webkit-line-clamp:3;
}
.content_summary .desc_box .career_text{
  font-size: 18px;
  font-weight: bold;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  overflow:hidden;
  -webkit-line-clamp:3;

 }


 .content_summary .summary_stock{}
 .content_summary .summary_stock .stock_info_box{}
 .content_summary .stock_info_box .stock_price_box{
   overflow: hidden; /* .price .figure float지정했기 때문에*/
   position: relative;
   padding-bottom: 10px; /*.stock_price_box::after 여백*/
   margin-bottom: 10px; /*.date 여백을 위해*/
  }
  .content_summary .stock_info_box .stock_price_box::after{
    /* .price .figure float지정했기 때문에*/
    content: '';
    display: block;
    clear: both;
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 1px;
    background-color: #000;
    
  }
 .content_summary .stock_info_box .stock_price_box .price{
   font-size: 36px;
   float: left;
  }
  .content_summary .stock_info_box .stock_price_box .price .unit{
    font-size: 12px;
  }
 .content_summary .stock_info_box .stock_price_box .figure{
  float: right;
  display: block;
  margin-top: 30px;
 }
 .content_summary .summary_stock .date{
  font-size: 12px;
  color: #ccc;
  text-align: right; /*p태그라 부모의 영역을 다쓰기때문에*/
 }
 

 /* .content service */
 .content_service{
  margin-top: 100px;
 }
 /* ul */
 .content_service .service_list_container{
  display: flex;
  flex-wrap: wrap; /*줄바꿈함*/
 

 }
 /* li */
 .content_service .service_list_container .service_thumnail_box{
  position: relative; /*.description 기준요소*/
  /* flax item */
  /* 기본값 flex-grow: 0; flex-shrink: 1; flex-basis: auto; */
  flex: none; /*flex-grow: 0; flex-shrink: 0; flex-basis: auto;*/
  width: 33.333%; /*3단설정*/
  overflow: hidden; /*.description transform: translateY(100%) 주고나서 안보이게할때*/
 }




 /* 마우스 오버할경우 컬러변경 시작 */
 .content_service .service_list_container .service_thumnail_box::after{
   /* 마우스 오버할 경우 overlay칼라용 */
   content: '';
   position: absolute;
   left: 0; top: 0; width: 100%; height: 100%;
   background-color: #000;
   opacity: 0;
   transition: all 0.1s;
   
  }
  .content_service .service_list_container .service_thumnail_box:hover::after{ /*hover과 after 순서중요*/
    transition: all 0.3s;
    opacity: 0.6;
  }
   /* 마우스 오버할경우 컬러변경 끝 */

 .content_service .service_list_container .service_thumnail_box{}

 .content_service .service_thumnail_box .thumnail{}
 .content_service .service_thumnail_box .thumnail a{
  display: block; /*부모의 너비를 따르게됨*/
 }
 .content_service .service_thumnail_box .thumnail a img{
  display: block; width: 100%;

 }
 .content_service .service_thumnail_box .description{
  position: absolute;
  left: 0; bottom:  0; 
  transform: translateY(100%); /*내크기만큼 내려오게 함*/
  width: 100%; height: auto;
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 2em;
  /* background-color: rgba(0,0,0,0.5);  제품명배경만큼만 보이게 할때*/
  z-index: 20; /*.service_thumnail_box:hover::after보다 상위로 올려서 글자보이게 함*/
     
 }
 .content_service .service_thumnail_box:hover .description{
  transform: translateY(0); /*마우스 오버시thumnail_box 위치변경 */
  transition: transform 0.2s;
 }

 .content_service .service_thumnail_box .description dl{
  color: #fff;

 }
 .content_service .service_thumnail_box .description dl dt{
  font-size: 22px;
  margin-bottom: 2px;
 }
 .content_service .service_thumnail_box .description dl dd{
   /*한 줄 말줄임*/
  display: block;
  white-space:nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
  /*한 줄 말줄임 설정 끝*/
 }
 
 @media (max-width:1024px){ /*1024보다 작은화면*/
  .content_service .service_list_container{
    gap:20px;
  }
  .content_service .service_list_container .service_thumnail_box{
    box-sizing: border-box;
    width: calc(50% - 10px); /*타블릿이 1024일경우 마우스오버 없어도됨*/
    border: 1px solid #efefef;
    box-shadow: 0 0 5px 0px rgba(154, 151, 151, 0.2);
    /* border-radius: 6px 6px 0 0; */
    border-radius: 10px;
  }
  .content_service .service_thumnail_box .description{
    position: static;
    transform: translateY(0);
    /*일반흐름에 포함*/
    padding: 1em;
  }
  .content_service .service_thumnail_box .description dl{
    color: #000;
  }
  .content_service .service_list_container .service_thumnail_box::after{
    /* 오베레이 */
    display: none;
  }
  
}


@media (max-width:576px){
  .content_service .service_list_container{
    gap:30px;
  }
  .content_service .service_list_container .service_thumnail_box{
    width: 100%;
  }
  .content_service .service_list_container .service_thumnail_box{}

}


/* content_support */
.content_support{padding-top: 120px;}
.content_support .support_info_top{
  text-align: center;
  margin-bottom: 60px;
}
.content_support .support_info_top .support_title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0.8em;
  
}
.content_support .support_info_top .support_text{
  font-size: 18px;
  line-height: 1.6;
}

/* .support_list_contanier가 수평으로 나란히 표시 */
.content_support .support_list_contanier{
  display: flex;
  
}
.content_support .support_list_contanier .support_list_box{
  border: 1px solid #000;
  flex: none;
  width: 25%;
}
.content_support .support_list_box dl{}
.content_support .support_list_box dd{}
.content_support .support_list_box dt{}
